Repository BadwaterBay/labelcopier-api-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --config '.prettierrc.json' --write

.lintstagedrc.json:

{
  "**/*.js": ["eslint --cache --fix"],
  "**/*.{js,json,md}": ["prettier --config '.prettierrc.json' --write"]
}

Update Eslint config file
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Update Eslint config file
  .eslintrc.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Update Eslint config
  .eslintrc.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:wrench: Update Eslint config to fix CodeFactor warnings (#16)
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:wrench: Change configs of Eslint & Mocha from .js to .json
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  .mocharc.js
  .mocharc.json
  package.json
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Update Eslint config: add no-eslintrc flag
  .lintstagedrc.json
  package.json
Due: prettier --config '.prettierrc.json' --write

Update configs of Eslint & Mocha (#17)
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  .mocharc.js
  .mocharc.json
  package.json
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:wrench: Move config files from JSON to YML format for following:
  .eslintrc.json
  .eslintrc.yml
  .github/dependabot.yml
  .huskyrc.json
  .huskyrc.yml
  .lintstagedrc.json
  .lintstagedrc.yml
  .mocharc.json
  .mocharc.yml
  .nycrc.json
  .nycrc.yml
  .prettierrc.json
  .prettierrc.yml
  package.json
Due: prettier --config '.prettierrc.json' --write

:wrench: Move config files from JSON to YML format for following: (#18)
  .eslintrc.json
  .eslintrc.yml
  .github/dependabot.yml
  .huskyrc.json
  .huskyrc.yml
  .lintstagedrc.json
  .lintstagedrc.yml
  .mocharc.json
  .mocharc.yml
  .nycrc.json
  .nycrc.yml
  .prettierrc.json
  .prettierrc.yml
  package.json
Due: prettier --config '.prettierrc.json' --write

Refactor: minor improvements on core functions, tests & configs
  .eslintrc.yml
  .github/dependabot.yml
  .github/workflows/nodejs.yml
  .huskyrc.yml
  .lintstagedrc.yml
  .mocharc.yml
  .nycrc.yml
  .prettierrc.yml
  package.json
  src/core/apiCalls.js
  src/core/httpRequests/httpRequestHeaderBuilder.js
  src/core/httpRequests/httpRequestMaker.js
  src/core/linkHeaderParser.js
  src/core/loginInfo.js
  src/test/httpRequests/buildHttpRequestBody.spec.js
  src/test/httpRequests/makeHttpGetRequest.spec.js
  src/test/httpRequests/makeHttpPostRequest.spec.js
  yarn.lock
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Refactor: minor improvements on core functions, tests & configs (#19)
  .eslintrc.yml
  .github/dependabot.yml
  .github/workflows/nodejs.yml
  .huskyrc.yml
  .lintstagedrc.yml
  .mocharc.yml
  .nycrc.yml
  .prettierrc.yml
  package.json
  src/core/apiCalls.js
  src/core/httpRequests/httpRequestHeaderBuilder.js
  src/core/httpRequests/httpRequestMaker.js
  src/core/linkHeaderParser.js
  src/core/loginInfo.js
  src/test/httpRequests/buildHttpRequestBody.spec.js
  src/test/httpRequests/makeHttpGetRequest.spec.js
  src/test/httpRequests/makeHttpPostRequest.spec.js
  yarn.lock
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:bath: Correct Dependabot config file
  .github/dependabot.yml
Due: none

:bath: Correct Dependabot config file (#20)
  .github/dependabot.yml
Due: none

:white_check_mark: Refactor: rename functions & modules & optimize tests
  src/core/apiCalls.js
  src/core/httpRequests/httpRequestMaker.js
  src/core/httpRequests/httpRequestResponseGetter.js
  src/core/httpRequests/index.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/index.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/core/validations/validationOfAction.js
  src/core/validations/validationOfEntryType.js
  src/test/dummyData/dummyLinkHeaderOfListingLabels.setup.test.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyLoginInfo.spec.js
  src/test/dummyData/dummyResponseBodyOfListingLabels.setup.test.js
  src/test/getRepoInfoFromLoginInfo.spec.js
  src/test/getRepoOwnerAndRepoName.spec.js
  src/test/getResponseOfHttpGETFromPaginatedApi.spec.js
  src/test/httpRequests/buildAcceptHeaderForHttpRequest.spec.js
  src/test/httpRequests/buildUriForHttpRequest.spec.js
  src/test/httpRequests/buildUriToCreate.spec.js
  src/test/httpRequests/buildUriToListLabels.spec.js
  src/test/httpRequests/buildUriToListMilestones.spec.js
  src/test/httpRequests/getApiPaginationLimit.spec.js
  src/test/httpRequests/getBaseApiUri.spec.js
  src/test/httpRequests/getBaseApiUriSlashRepos.spec.js
  src/test/httpRequests/getResponseOfHttpGET.spec.js
  src/test/httpRequests/getResponseOfHttpPOST.spec.js
  src/test/httpRequests/getResponseOfHttpRequest.spec.js
  src/test/makeApiCallToCopy.spec.js
  src/test/makeApiCallToCreate.spec.js
  src/test/makeApiCallToList.spec.js
  src/test/mockHttpServer/index.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
  src/test/mockHttpServer/mockHttpServerForPOST.setup.test.js
  src/test/mockHttpServer/mockHttpServerInitiation.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:white_check_mark: Refactor: rename functions & modules & optimize tests (#22)
  src/core/apiCalls.js
  src/core/httpRequests/httpRequestMaker.js
  src/core/httpRequests/httpRequestResponseGetter.js
  src/core/httpRequests/index.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/index.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/core/validations/validationOfAction.js
  src/core/validations/validationOfEntryType.js
  src/test/dummyData/dummyLinkHeaderOfListingLabels.setup.test.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyLoginInfo.spec.js
  src/test/dummyData/dummyResponseBodyOfListingLabels.setup.test.js
  src/test/getRepoInfoFromLoginInfo.spec.js
  src/test/getRepoOwnerAndRepoName.spec.js
  src/test/getResponseOfHttpGETFromPaginatedApi.spec.js
  src/test/httpRequests/buildAcceptHeaderForHttpRequest.spec.js
  src/test/httpRequests/buildUriForHttpRequest.spec.js
  src/test/httpRequests/buildUriToCreate.spec.js
  src/test/httpRequests/buildUriToListLabels.spec.js
  src/test/httpRequests/buildUriToListMilestones.spec.js
  src/test/httpRequests/getApiPaginationLimit.spec.js
  src/test/httpRequests/getBaseApiUri.spec.js
  src/test/httpRequests/getBaseApiUriSlashRepos.spec.js
  src/test/httpRequests/getResponseOfHttpGET.spec.js
  src/test/httpRequests/getResponseOfHttpPOST.spec.js
  src/test/httpRequests/getResponseOfHttpRequest.spec.js
  src/test/makeApiCallToCopy.spec.js
  src/test/makeApiCallToCreate.spec.js
  src/test/makeApiCallToList.spec.js
  src/test/mockHttpServer/index.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
  src/test/mockHttpServer/mockHttpServerForPOST.setup.test.js
  src/test/mockHttpServer/mockHttpServerInitiation.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade various dependencies
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade various dependencies (#61)
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies (#74)
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:wrench: Specify minimum node engine version as 12.0.0
  package.json
Due: prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies (#82)
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write

:star: Add generateDefaultLabel & generateDefaultMilestone & more
  index.js
  src/core/defaultEntries/generateDefaultEntries.js
  src/core/defaultEntries/generateUniqueId.js
  src/core/defaultEntries/index.js
  src/core/loginInfo.js
  src/test/apiCalls/httpRequests/buildUriForHttpRequest.spec.js
  src/test/defaultEntries/generateDefaultLabel.spec.js
  src/test/defaultEntries/generateDefaultMilestone.spec.js
  src/test/defaultEntries/generateUniqueId.spec.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/getRepoInfoFromLoginInfo.spec.js
  src/test/getRepoOwnerAndRepoName.spec.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:star: Add generateDefaultLabel & generateDefaultMilestone & more (#83)
  index.js
  src/core/defaultEntries/generateDefaultEntries.js
  src/core/defaultEntries/generateUniqueId.js
  src/core/defaultEntries/index.js
  src/core/loginInfo.js
  src/test/apiCalls/httpRequests/buildUriForHttpRequest.spec.js
  src/test/defaultEntries/generateDefaultLabel.spec.js
  src/test/defaultEntries/generateDefaultMilestone.spec.js
  src/test/defaultEntries/generateUniqueId.spec.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/getRepoInfoFromLoginInfo.spec.js
  src/test/getRepoOwnerAndRepoName.spec.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:star: Adjust code as submodule of its frontend counterpart
  index.js
  src/core/apiCalls/apiResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder.js
  src/core/apiCalls/httpRequests/httpRequestHeaderBuilder.js
  src/core/apiCalls/httpRequests/httpRequestMaker.js
  src/core/apiCalls/httpRequests/httpRequestResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestUriBuilder.js
  src/core/communicationsWithApi.js
  src/core/index.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/test/apiCalls/httpRequests/buildUriForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/buildUriToListLabels.spec.js
  src/test/apiCalls/httpRequests/getApiPaginationLimit.spec.js
  src/test/apiCalls/httpRequests/getBaseApiUri.spec.js
  src/test/apiCalls/httpRequests/getResponseOfHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestBodyBuilder/buildHttpRequestBody.spec.js
  src/test/apiCalls/httpRequests/httpRequestHeaderBuilder/buildAcceptHeaderForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestResponseGetter/getResponseOfHttpGET.spec.js
  src/test/apiCalls/httpRequests/httpRequestResponseGetter/getResponseOfHttpGETFromPaginatedApi.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriToCreate.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriToList.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/getBaseApiUri.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/getBaseApiUriSlashRepos.spec.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyLoginInfo.spec.js
  src/test/loginInfo/getRepoInfoFromLoginInfo.spec.js
  src/test/loginInfo/getRepoOwnerAndRepoName.spec.js
  src/test/makeApiCallToCopy.spec.js
  src/test/makeApiCallToCreate.spec.js
  src/test/makeApiCallToList.spec.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
  src/test/mockHttpServer/mockHttpServerForPOST.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:star: Adjust code as submodule of its front-end counterpart (#84)
  index.js
  src/core/apiCalls/apiResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder.js
  src/core/apiCalls/httpRequests/httpRequestHeaderBuilder.js
  src/core/apiCalls/httpRequests/httpRequestMaker.js
  src/core/apiCalls/httpRequests/httpRequestResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestUriBuilder.js
  src/core/communicationsWithApi.js
  src/core/index.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/test/apiCalls/httpRequests/buildUriForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/buildUriToListLabels.spec.js
  src/test/apiCalls/httpRequests/getApiPaginationLimit.spec.js
  src/test/apiCalls/httpRequests/getBaseApiUri.spec.js
  src/test/apiCalls/httpRequests/getResponseOfHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestBodyBuilder/buildHttpRequestBody.spec.js
  src/test/apiCalls/httpRequests/httpRequestHeaderBuilder/buildAcceptHeaderForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestResponseGetter/getResponseOfHttpGET.spec.js
  src/test/apiCalls/httpRequests/httpRequestResponseGetter/getResponseOfHttpGETFromPaginatedApi.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriForHttpRequest.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriToCreate.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/buildUriToList.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/getBaseApiUri.spec.js
  src/test/apiCalls/httpRequests/httpRequestUriBuilder/getBaseApiUriSlashRepos.spec.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyLoginInfo.spec.js
  src/test/loginInfo/getRepoInfoFromLoginInfo.spec.js
  src/test/loginInfo/getRepoOwnerAndRepoName.spec.js
  src/test/makeApiCallToCopy.spec.js
  src/test/makeApiCallToCreate.spec.js
  src/test/makeApiCallToList.spec.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
  src/test/mockHttpServer/mockHttpServerForPOST.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:star: Pass login info from front to back
  src/core/apiCalls/apiResponseGetter.js
  src/core/apiCalls/httpRequests/HttpError.js
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder.js
  src/core/apiCalls/httpRequests/httpRequestHeaderBuilder.js
  src/core/apiCalls/httpRequests/httpRequestMaker.js
  src/core/apiCalls/httpRequests/httpRequestResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestUriBuilder.js
  src/core/apiCalls/httpRequests/linkHeaderParser.js
  src/core/communicationsWithApi.js
  src/core/defaultEntries/generateUniqueId.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/core/validations/validationOfAction.js
  src/core/validations/validationOfEntryType.js
  src/test/apiCalls/httpRequests/getApiResponseOfCreating.spec.js
  src/test/apiCalls/httpRequests/httpRequestBodyBuilder/buildHttpRequestBody.spec.js
  src/test/communicationsWithApi/makeApiCallToCopy.spec.js
  src/test/communicationsWithApi/makeApiCallToCreate.spec.js
  src/test/communicationsWithApi/makeApiCallToList.spec.js
  src/test/defaultEntries/generateUniqueId.spec.js
  src/test/dummyData/dummyLabel.setup.test.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyMilestone.setup.test.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Temporarily remove code of updating & deleting labels/milestones
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies, including upgrade Husky to 5
  .husky/pre-commit
  .huskyrc.yml
  package.json
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder copy.js
  yarn.lock
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

Remove unintendedly committed file
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder copy.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:star: Pass login info from front to back (#139)
  src/core/apiCalls/apiResponseGetter.js
  src/core/apiCalls/httpRequests/HttpError.js
  src/core/apiCalls/httpRequests/httpRequestBodyBuilder.js
  src/core/apiCalls/httpRequests/httpRequestHeaderBuilder.js
  src/core/apiCalls/httpRequests/httpRequestMaker.js
  src/core/apiCalls/httpRequests/httpRequestResponseGetter.js
  src/core/apiCalls/httpRequests/httpRequestUriBuilder.js
  src/core/apiCalls/httpRequests/linkHeaderParser.js
  src/core/communicationsWithApi.js
  src/core/defaultEntries/generateUniqueId.js
  src/core/loginInfo.js
  src/core/validations/validationMethods/validateOrThrow.js
  src/core/validations/validationOfAction.js
  src/core/validations/validationOfEntryType.js
  src/test/apiCalls/httpRequests/getApiResponseOfCreating.spec.js
  src/test/apiCalls/httpRequests/httpRequestBodyBuilder/buildHttpRequestBody.spec.js
  src/test/communicationsWithApi/makeApiCallToCopy.spec.js
  src/test/communicationsWithApi/makeApiCallToCreate.spec.js
  src/test/communicationsWithApi/makeApiCallToList.spec.js
  src/test/defaultEntries/generateUniqueId.spec.js
  src/test/dummyData/dummyLabel.setup.test.js
  src/test/dummyData/dummyLoginInfo.setup.test.js
  src/test/dummyData/dummyMilestone.setup.test.js
  src/test/mockHttpServer/mockHttpServerForCreation.setup.test.js
  src/test/mockHttpServer/mockHttpServerForGET.setup.test.js
  src/test/mockHttpServer/mockHttpServerForListing.setup.test.js
Due: eslint --cache --fix, prettier --config '.prettierrc.json' --write

:arrow_up: Upgrade dependencies, including upgrade Husky to 5 (#140)
  .husky/pre-commit
  .huskyrc.yml
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.json' --write
